:root {
    --main-rows: 2;
    --main-cols: 2;
}


body {
    background-image: url("congruent_outline.png");
}

h1 {
    font-family: 'Nova Script', cursive;
    text-align: center;
    color: silver;
}

.buttonHolder {
    padding: 15px;
    text-align: center;
}

.button {
    border-radius: 15px;
    display: inline-block;
    background-color: silver;
    border: none;
    color: black;
    font-family: 'Nova Script', cursive;
    text-align: center;
    color: black;
}

.frame {
    display: grid;
    grid-template-columns: repeat(var(--main-cols), 1fr);
    grid-template-rows: repeat(var(--main-rows), 1fr);
    text-align: center;
    border:20px solid red;
    border-radius: 15px;
}

.cell {
    height: 16px;
    width: 16px;
}
